# Using the Yahoo Finance Package #

In [1]:
import yfinance as yf

In [6]:
ticker = 'PLTR'
yf.Ticker(ticker).history(period='2mo', interval='1d').reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2022-06-03,9.040,9.250,8.860,8.94,36585800,0,0
1,2022-06-06,9.110,9.210,8.780,8.98,35101100,0,0
2,2022-06-07,8.890,9.140,8.730,9.13,28049400,0,0
3,2022-06-08,9.180,9.420,9.090,9.18,29056300,0,0
4,2022-06-09,9.130,9.160,8.670,8.68,30527400,0,0
5,2022-06-10,8.480,8.580,8.140,8.26,30225800,0,0
6,2022-06-13,7.990,8.000,7.500,7.64,40943000,0,0
7,2022-06-14,7.735,7.980,7.585,7.82,30564100,0,0
8,2022-06-15,7.920,8.300,7.815,8.12,38235300,0,0
9,2022-06-16,7.840,7.985,7.580,7.67,36793500,0,0
10,2022-06-17,7.700,8.330,7.690,8.24,45493900,0,0
11,2022-06-21,8.590,9.050,8.560,8.71,48887600,0,0
12,2022-06-22,8.520,9.285,8.450,9.01,43430600,0,0
13,2022-06-23,9.020,9.500,8.840,9.46,44618000,0,0
14,2022-06-24,9.530,10.200,9.480,10.19,67740700,0,0
15,2022-06-27,10.150,10.160,9.510,9.62,44768000,0,0
16,2022-06-28,9.570,9.880,9.190,9.31,45589000,0,0
17,2022-06-29,9.350,9.420,9.070,9.23,40408700,0,0
18,2022-06-30,9.020,9.190,8.720,9.07,33636400,0,0
19,2022-07-01,9.110,9.430,9.031,9.27,33483300,0,0
20,2022-07-05,9.140,10.100,9.000,10.07,55854800,0,0
21,2022-07-06,10.010,10.310,9.740,9.80,54604300,0,0
22,2022-07-07,9.760,10.280,9.750,10.18,35672500,0,0
23,2022-07-08,9.920,10.380,9.830,10.17,36693200,0,0
24,2022-07-11,9.980,9.994,9.530,9.56,34015100,0,0
25,2022-07-12,9.660,9.960,9.270,9.49,42765800,0,0
26,2022-07-13,9.220,9.550,9.050,9.28,32461300,0,0
27,2022-07-14,9.230,9.280,8.850,8.90,26702100,0,0
28,2022-07-15,9.010,9.120,8.650,9.04,34887900,0,0
29,2022-07-18,9.250,9.450,9.005,9.03,32428400,0,0
30,2022-07-19,9.150,9.370,8.890,9.34,29033800,0,0
31,2022-07-20,9.440,10.200,9.440,10.11,40845200,0,0
32,2022-07-21,10.370,10.760,10.220,10.49,51691200,0,0
33,2022-07-22,10.350,10.570,9.730,9.84,38889900,0,0
34,2022-07-25,9.830,9.850,9.520,9.68,21485000,0,0
35,2022-07-26,9.660,9.660,9.380,9.40,21997800,0,0
36,2022-07-27,9.670,10.030,9.500,10.02,29810900,0,0
37,2022-07-28,10.030,10.200,9.740,10.13,27172900,0,0
38,2022-07-29,10.010,10.350,9.920,10.35,31058100,0,0
39,2022-08-01,10.250,10.700,10.122,10.47,31694700,0,0
40,2022-08-02,10.320,11.230,10.260,10.92,40897900,0,0

In [7]:
price=yf.Ticker('AAPL').history(period='1d', interval='15m').reset_index()

In [8]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      27 non-null     datetime64[ns, America/New_York]
 1   Open          27 non-null     float64
 2   High          27 non-null     float64
 3   Low           27 non-null     float64
 4   Close         27 non-null     float64
 5   Volume        27 non-null     int64
 6   Dividends     27 non-null     int64
 7   Stock Splits  27 non-null     int64
dtypes: datetime64[ns, America/New_York](1), float64(4), int64(3)
memory usage: 1.8 KB

In [9]:
price.head()

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2022-08-02 09:30:00-04:00,160.100006,160.729996,159.750000,160.549896,6196814,0,0
1,2022-08-02 09:45:00-04:00,160.750000,161.059998,159.987701,160.544998,3180535,0,0
2,2022-08-02 10:00:00-04:00,160.550797,160.580002,159.630005,160.149994,3073810,0,0
3,2022-08-02 10:15:00-04:00,160.160004,160.580002,159.979996,160.580002,2199727,0,0
4,2022-08-02 10:30:00-04:00,160.580002,161.250000,160.320007,161.229996,2340531,0,0